@font-face {
    font-family: "SF Mono";
    src: url("SFMonoRegular.otf");
}

@font-face {
    font-family: "SF Mono";
    font-weight: bold;
    src: url("SFMonoBold.otf");
}

.textsubmit {
    font-family: "SF Mono";
    font-size: 1.5rem;
    border-radius: 10px;
    border-width: medium;
    border-style: outset;
    background-color: #1a9300;
    border-color: #114d00;
    color: #c4ffb7;
    padding: 15px;
}

.textsubmit:hover {
    cursor: pointer;
    border-style: inset;
    background-color: #114d00;
    border-color: #114d00;
}

.navbar {
    display: flex;
    justify-content: space-around;
    position: sticky;
    background-color: #186900;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 0 30px;
}

body {
    margin: 0;
    padding: 0;
}

pre {
    white-space: pre-wrap;
}

table, thead, tbody, th {
    font-family: "SF Mono";
    color: #c4ffb7;
    border: 2px solid;
    padding: 5px;
    border-collapse: collapse;
    background-color: #186900;
}

.navbar a {
    color: #7dff61;
}

.navbar a:hover {
    color: #ffffff;
}

.dropbtn {
    font-family: "SF Mono";
    background-color: #186900;
    color: #7dff61;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bcffad;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content button {
    font-family: "SF Mono";
    font-size: 1rem;
    background-color: #186900;
    color: #7dff61;
    border-style: none;
    padding: 12px 16px;
    display: block;
}

.dropdown-content button:hover {
    background-color: #bcffad;
    color: #1a9300;
}

.dropdown-content a {
    font-family: "SF Mono";
    text-decoration: none;
    font-size: 1rem;
    background-color: #186900;
    color: #7dff61;
    border-style: none;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #bcffad;
    color: #1a9300;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.buttonlist {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    border-radius: 5px;
    background-color: #2c5425;
    margin: 25px;
    padding: 10px;
    gap: 20px 10px;
}

.buttonlist a {
    text-decoration: none;
    border-radius: 10px;
    background-color: #33ab1f;
    border-color: #569f47;
    border-style: outset;
    color: #deffd6;
    font-size: 15px;
    padding: 15px;
}

.buttonlist a:hover {
    background-color: #2c5425;
    border-style: inset;
    border-color: #2c5425;
    color: #deffd6;
}

#text {
    display: block;
    font-size: 1rem;
    font-family: ui-monospace;
    background-color: #00b914;
    border-color: #1a9300;
    color: #deffd6;
    resize: none;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#answertext {
    font-size: 1rem;
    font-family: "SF Mono";
    background-color: #1a9300;
    border-color: #1a9300;
    color: #bcffad;
    resize: none;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

.codeinput {
    font-size: 1rem;
    font-family: "SF Mono";
    background-color: #1a9300;
    border-color: #1a9300;
    border-radius: 10px;
    color: #bcffad;
    resize: vertical;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
    height: auto;

}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #005208;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.header {
    color: #bcffad;
}

.subheader {
    color: #bcffad;
    max-width: 960px;
}

@media (max-width: 680px) {
    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #005208;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
        font-size: x-large;
    }


    .subheader {
        max-width: fit-content;
    }

}

.info {
    margin: 20px;
    background-color: #00b914;
    padding: 20px;
    max-width: 800px;
}

.paddedinfo {
    margin: 20px;
    background-color: #00b914;
    padding: 40px;
    max-width: 600px;
}

.list {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: #116100;
    color: #dcffd6;
    max-width: 300px;
    margin: 10px auto;
}

.list li {
    margin: 10px;
}

.inputlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    background-color: #114d00;
    color: #dcffd6;
    max-width: 300px;
    margin: 15px auto auto;
}

.quizsubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: #dcffd6;
}

.total {
    background-color: #114d00;
    text-align: left;
    font-family: "SF Mono";
    border-radius: 10px;
    color: #00b914;
    padding: 10px;
    tab-size: 4;
}

.inlinelink {
    background-color: #114d00;
    text-align: left;
    font-size: 1rem;
    font-family: "SF Mono";
    border-radius: 10px;
    color: #00b914;
    padding: 10px;
    tab-size: 4;
}

.inlinelink a {
    color: #00b914;
    text-decoration: none;
}

.inlinelink a:hover {
    color: #bcffad;
}


.inline-err {
    background-color: #571414;
    border-radius: 10px;
    color: #ff8c8c;
    padding: 10px;

}

.inline-err:hover {
    color: #ffcccc;
}

.animbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: #33ab1f;
    padding: 20px;
    max-width: 800px;
}

@media (max-width: 680px) {
    .animbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        background-color: #59a849;
        padding: 20px;
    }

    .animbox img {
        max-width: 300px;
    }
}

.replaybutton {
    border-radius: 10px;
    background-color: #59a849;
    border-color: #569f47;
    color: #c4ffb7;
    font-size: 15px;
    padding: 15px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 680px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#background {
    font-family: "SF Mono";
    background-color: #dcffd6;
    border: 20px #1a9300;
}

#ImageBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00b914;
    border-radius: 10px;
    margin: 10px;
}

#ImageBox img {
    margin: 10px;
    border: 10px #114d00;
    transition: all .2s ease-in-out;
}

#ImageBox img:hover {
    transform: scale(1.5);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;
}

.nav a {
    text-decoration: none;
    border-radius: 10px;
    background-color: #2c5425;
    border-color: #78d767;
    border-style: outset;
    color: #c4ffb7;
    font-size: 15px;
    padding: 15px;
}

.nav a:hover {
    background-color: #101f0e;
    border-style: inset;
    border-color: #78d767;
}

@media (max-width: 680px) {

    .nav a {
        text-decoration: none;
        border-radius: 10px;
        background-color: #2c5425;
        border-color: #78d767;
        border-style: outset;
        color: #c4ffb7;
        font-size: 30px;
        padding: 5px;
    }

}
