@font-face {
    font-family: "SF Mono";
    src: url("SFMonoRegular.otf");
}

@font-face {
    font-family: "SF Mono";
    font-weight: bold;
    src: url("SFMonoBold.otf");
}

.textsubmit {
    font-family: "SF Mono";
    font-size: 1.5rem;
    border-radius: 10px;
    border-width: medium;
    border-style: outset;
    background-color: #595959;
    border-color: #151515;
    color: #e8e8e8;
    padding: 15px;
}

.textsubmit:hover {
    cursor: pointer;
    border-style: inset;
    background-color: #212121;
    border-color: #151515;
}

.navbar {
    display: flex;
    justify-content: space-around;
    position: sticky;
    background-color: #3f3f3f;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 0 30px;
}

body {
    margin: 0;
    padding: 0;
}

pre {
    white-space: pre-wrap;
}

table, thead, tbody, th {
    font-family: "SF Mono";
    color: #d0d0d0;
    border: 2px solid;
    padding: 5px;
    border-collapse: collapse;
    background-color: #232323;
}

.navbar a {
    color: #b9b9b9;
}

.navbar a:hover {
    color: #ffffff;
}

.dropbtn {
    font-family: "SF Mono";
    background-color: #3f3f3f;
    color: #b9b9b9;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content button {
    font-family: "SF Mono";
    font-size: 1rem;
    background-color: #3f3f3f;
    color: #b9b9b9;
    border-style: none;
    padding: 12px 16px;
    display: block;
}

.dropdown-content button:hover {
    background-color: #e1e1e1;
    color: #3f3f3f;
}

.dropdown-content a {
    font-family: "SF Mono";
    text-decoration: none;
    font-size: 1rem;
    background-color: #3f3f3f;
    color: #b9b9b9;
    border-style: none;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e1e1e1;
    color: #3f3f3f;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.buttonlist {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    border-radius: 5px;
    background-color: #a6a6a6;
    margin: 25px;
    padding: 10px;
    gap: 20px 10px;
}

.buttonlist a {
    text-decoration: none;
    border-radius: 10px;
    background-color: #595959;
    border-color: #151515;
    border-style: outset;
    color: #e8e8e8;
    font-size: 15px;
    padding: 15px;
}

.buttonlist a:hover {
    background-color: #212121;
    border-style: inset;
    border-color: #151515;
}

#text {
    display: block;
    font-size: 1rem;
    font-family: ui-monospace;
    background-color: #5e5e5e;
    border-color: #343434;
    color: #d0d0d0;
    resize: none;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#answertext {
    font-size: 1rem;
    font-family: "SF Mono";
    background-color: #5e5e5e;
    border-color: #343434;
    color: #d0d0d0;
    resize: none;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

.codeinput {
    font-size: 1rem;
    font-family: "SF Mono";
    background-color: #595959;
    border-color: #151515;
    border-radius: 10px;
    color: #d0d0d0;
    resize: vertical;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    overflow-x: scroll;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3f3f3f;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.header {
    color: #b9b9b9;
}

.subheader {
    color: #b9b9b9;
    max-width: 960px;
}

@media (max-width: 680px) {
    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #3f3f3f;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
        font-size: x-large;
    }

    .subheader {
        max-width: fit-content;
    }

}

.info {
    margin: 20px;
    background-color: #3f3f3f;
    color: #e5e5e5;
    padding: 20px;
    max-width: 800px;
}

.paddedinfo {
    margin: 20px;
    background-color: #3f3f3f;
    padding: 40px;
    max-width: 600px;
}

.list {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: #1c1c1c;
    color: #d7d7d7;
    max-width: 300px;
    margin: 10px auto;
}

.list li {
    margin: 10px;
}

.inputlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    background-color: #1c1c1c;
    color: #d7d7d7;
    max-width: 300px;
    margin: 15px auto auto;
}

.quizsubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: #e1e1e1;
}

.inlinelink {
    background-color: #2a2a2a;
    text-align: left;
    font-size: 1rem;
    font-family: "SF Mono";
    border-radius: 10px;
    color: #d5d5d5;
    padding: 10px;
    tab-size: 4;
    overflow-x: scroll;
}

.inlinelink a {
    color: #d5d5d5;
    text-decoration: none;
}

.inlinelink a:hover {
    color: #ffffff;
}


.inline-err {
    background-color: #151515;
    border-radius: 10px;
    color: #6c6c6c;
    padding: 10px;
    overflow-x: scroll;
}

.inline-err:hover {
    color: #b0b0b0;
}

.animbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: #bbbbbb;
    padding: 20px;
    max-width: 800px;
}

@media (max-width: 680px) {
    .animbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        background-color: #bbbbbb;
        padding: 20px;
    }

    .animbox img {
        max-width: 300px;
    }
}

.replaybutton {
    border-radius: 10px;
    background-color: #595959;
    border-color: #151515;
    color: #e8e8e8;
    font-size: 15px;
    padding: 15px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 680px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#background {
    font-family: "SF Mono";
    background-color: #e1e1e1;
}

#ImageBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #a6a6a6;
    border-radius: 10px;
    margin: 10px;
}

#ImageBox img {
    margin: 10px;
    transition: all .2s ease-in-out;
}

#ImageBox img:hover {
    transform: scale(1.5);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;
}

.nav a {
    text-decoration: none;
    border-radius: 10px;
    background-color: #595959;
    border-color: #151515;
    border-style: outset;
    color: #e8e8e8;
    font-size: 15px;
    padding: 15px;
}

.nav a:hover {
    background-color: #212121;
    border-style: inset;
    border-color: #151515;
}

@media (max-width: 680px) {

    .nav a {
        text-decoration: none;
        border-radius: 10px;
        background-color: #595959;
        border-color: #151515;
        border-style: outset;
        color: #e8e8e8;
        font-size: 30px;
        padding: 5px;
    }

}
